<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Evento</title>
</head>
<body>
	<h1>Adicionar evento</h1>
	
	<form action="">
		<div>
			<label> Nome: <input type="text" name="nome">
			</label>
		</div>
		<div>
			<label> Local: <input type="text" name="local">
			</label>
		</div>
		<div>
			<label> Data: <input type="text" name="data">
			</label>
		</div>
		<div>
			<label> Horário: <input type="text" name="horario">
			</label>
		</div>
		<button type="reset">Limpar</button>
		<button type="submit">Salvar</button>
	</form>
</body>
</html>